* {
  box-sizing: border-box;
}

.mainData {
  display: flex;
}

.inputRow {
  width: 100%;
}

.inputRow label {
  display: inline-block;
  width: 25%;
}

.inputRow input {
  width: 70%;
}

.txt_center {
  text-align: center;
}

.hpcard {
  display:inline-block;
  box-shadow: 0 4px 8px 0 white;
  transition: 0.3s;
  width: 100%; /*change size of card directly*/
  height: 100%;
  border-radius: 5px;
  border-style: solid;
  border-color: lightblue;
  max-width: 350px; /*change minimum size of card */
  max-height: 350px;
  min-width: 200px;
  min-height: 300px;
  background-color: lightblue;
}

.hpcontainer {
  padding: 4px 16px;
  text-align: center;
  background-color: lightyellow;
}

.hpbutton {
  background-color: green;
  display: inline-flex;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.hpbuttonGreen {
  background-color: white;
  color: black;
  border: 1px solid lightblue;
}

.hpbuttonGreen:hover {
  background-color: green;
  color: white;
}
