* {
  box-sizing: border-box;
}

.mainData {
  display: flex;
  text-align: center;
}

.inputRow {
  width: 100%;
}

.inputRow label {
  display: inline-block;
  width: 25%;
}

.inputRow input {
  width: 70%;
}

.txt_center {
  text-align: center;
}

.hpcard {
  display:inline-block;
  box-shadow: 0 4px 8px 0 white;
  transition: 0.3s;
  width: 100%; /*change size of card directly*/
  height: 100%;
  border-radius: 15px;
  border-style: solid;
  border-color: lightblue;
  max-width: 350px; /*change minimum size of card */
  max-height: 350px;
  min-width: 200px;
  background-color: lightblue;
  padding: 5px;
  margin: 10px;
}

.hpcontainer {
  padding: 4px 16px;
  text-align: center;
  background-color: lightyellow;
  overflow-wrap: break-word;
}

.hpbutton {
  background-color: green;
  display: inline-flex;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.hpbuttonGreen {
  background-color: white;
  color: black;
  border: 1px solid lightblue;
}

.hpbuttonGreen:hover {
  background-color: green;
  color: white;
}

.center{
  margin: auto;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid #555;
}

textarea[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea[type=text]:focus {
  border: 3px solid #555;
}

button[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}

.button:hover {
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.popup .close:hover {
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 100px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
